/* CSS BoilerPlate */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Sigmar&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.container{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 70vw 30vw;
    grid-template-rows: 80vh 26vh;
    /* flex-direction: column; */
}

.display{

    /* background-color: red; */
    border: 1px solid white;
}
.design{
    grid-column: 1/3;
    background-color: rgb(16, 16, 16);
    font-size: 16px;
    /* padding: 5px; */
    font-family: 'Sigmar';
    color: white;
    border: 1px solid white;
}
.controls{
    background-color: black;
    display: flex;
    flex-direction: column;
    border: 2px solid white;

    
}
.control-box{
    /* background-color: #f3aaaa; */
    height: 40vh;
    width: 30vw;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}   
button{
    padding: 15px 30px;
    border-radius: 10px;
    
}
button:active{
    transform: scale(0.9,0.9);
}
input{
    padding:10px 10px;
    font-size: 30px;
    border-radius: 10px;
}
.input:focus{
    border: 2px solid black;
    background-color: #605f5f;
}
