/* CSS BoilerPlate */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lilita+One&family=Satisfy&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lilita+One&family=Satisfy&family=Sigmar&family=Space+Grotesk:wght@300..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #001c27;
  color: #fff;
}

/* navigation bar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 5vh;
  width: 100%;
  background-color: #05e6f2;

}
nav .logo{
  font-size: 40px;
  padding-left: 20px;
  font-family: "Bebas Neue";
  color: rgb(56, 56, 56);
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-family: "Space Grotesk"
}
.nav-links a{
  text-decoration: none;
  text-transform: none;
  color: rgb(0, 0, 0);
  position: relative;
}
.nav-links a::before{
  content: "";
  height: 1px;
  width: 0%;
  background-color: #001c27;
  z-index: 2;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transition: width 0.2s ease-in;
}
.nav-links a:hover::before{
  width: 100%;
  opacity: 1;
}
.nav-links a:hover{
  color: rgb(59, 59, 59);
}
.nav-links .loginBtn {
  display: flex;
  padding: 7px 28px;
  border-radius: 10px;
  margin-right: 40px;
  font-family: "Space Grotesk";
  box-shadow: 0px 3px 0px 0px rgb(0, 0, 0);

}
.nav-links .loginBtn:active {
  box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
  transform: translateY(3.5px);

}

.nav-links .plusversion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 7px 28px;
  font-size: 8px;
  border-radius: 10px;
  font-family: "Space Grotesk";
  box-shadow: 0px 3px 0px 0px rgb(0, 0, 0);



}
.nav-links .plusversion:active {
  box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
  transform: translateY(3.5px);

}

.nav-links .plusversion span {

  font-size: 17px;
}

/* SpeedoMeter */
.speedometer{
  height: 50vh;
  width: 40vw;
  background-color: #d1f1ff;

  margin: 5vh auto;

  border-radius: 20px;
  border: 2px solid white;
}