
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  /* background-color:#000; */
  color:#fff; 
  font-family: 'Oswald';

}
.box{
    height: 60vh;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    /* padding: 20px; */
    top: 50%;
    left: 50%;
    transform: translate(35%,35%);
    border-radius: 20px;
    overflow: hidden;
    /* background-color: #2e333b; */
    
}
.image-box{
    border: 2px solid black;
    height: 100%;
    width: 50%;
    position: relative;
    transform-origin: end;
    transition: all ease 0.2s;
    
    /* padding: 0px; */
}
.overlay{
    background: linear-gradient(90deg, rgba(0,185,255,0.5920343137254902) 0%, rgba(9,9,121,0.2861519607843137) 100%);
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100%;    
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px;
     

}
.image-box:hover{

    transform: rotateY(20deg) translateX(18px);
}
.timestamp h1{
    font-size: 50px;
}
.timestamp h2{
    font-size: 30px;
}
.details{
    
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-direction: column;
}
.details i{
    font-size: 80px;
    
}
.details h4{
    font-size: 30px;
}
.date i{
    font-size: 30px;
}
.image-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

}
.text-box{
    color: white;
    /* border: 2px solid black; */
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: center;
    background-color: #2e333b;

}
.report{
    padding-bottom: 70px;
    display: flex;
}
.dates {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    padding-left:80px;
}

.date {

    background-color: #232832;
    width: 100px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
}
#current{
    transform: scale(1.1);
    background-color: #fff;
    color: black;
}
.change-location{
    padding: 0 10vw;
    padding-top: 30px;
}
.location{
    padding: 10px 45px;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(17, 192, 255, 0.992) 0%, rgb(17, 17, 124,0.2) 100%);
    color: white;
}
.location:active{
    transform: scale(0.9);
}
.date:hover{
    transform: scale(1.1);
    background-color: #fff;
    color: black;
    transition: all 0.2s linear;
}