* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: black;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}

.main {
  margin-top: 20px;
  font-family: cursive;

}

.sudoku-board {
  display: grid;
  grid-template-columns: repeat(9, 40px);
  grid-template-rows: repeat(9, 40px);
  gap: 0px;
  justify-content: center;
  margin: 20px auto;
  padding: 10px;
  background: white;
  border: 2px solid black;
  width: fit-content;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid rgb(150, 150, 150);
}

.buttons {
  margin-top: 10px;
}

button {
  padding: 10px 25px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-family: cursive;
}
.cell:nth-child(3n) {
  border-right: 3px solid black;
}
.cell:nth-child(27n) {
  border-bottom: 3px solid black;
}

.cell:nth-child(9n) {
  border-right: 1px solid rgb(150, 150, 150);
}

.cell:nth-child(n + 19):nth-child(-n + 27),
.cell:nth-child(n + 46):nth-child(-n + 54) {
  border-bottom: 3px solid black;
}
input.has-value {
    background-color: lightgrey;
  }
  